
<section>


<!--===================================
=            Store Section            =
====================================-->
<section class="section bg-gray">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<!-- Left sidebar -->
			<div class="col-md-12">
				<div class="product-details">
					<div class="row">
						<div class="col-md-9">
							<router-outlet></router-outlet>
							
						</div>
						<div class="col-md-3">
							<!-- <div class="widget price text-center">
								<h4>Price</h4>
								<p>INR 500/HR</p>
							</div> -->
							
							<div class="widget user text-center">
								<img class=" img-fluid " src="assets/images/team/team2.jpg" alt="">
								<h1 class="mt-30">₹700/HR</h1>
								<ul class="list-inline ">
									<li class="list-inline-item"><a class="btn btn-secondary" routerLink="/list-page/1/book">Connect Now</a></li>
									 </ul>
									 <section class="divider">

									</section>
									
								<h4><a href="">Jonathon Andrew</a></h4>
								<p class="member-time">Member Since Jun 27, 2017</p>
								<div class="product-meta">
									<ul class="list-inline">
										<li class="list-inline-item"><i class="fa fa-user-o"></i> By <a href="">Andrew</a></li>
										<li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Category<a href="">ML/AI</a></li>
										<li class="list-inline-item"><i class="fa fa-location-arrow"></i> Location<a href="">Gachibowli, Hyderabad</a></li>
									</ul>
								</div>
								
								
							</div>
							<div class="sidebar">
					
								<!-- User Profile widget -->
								
								<!-- Map Widget -->
								
								<!-- Rate Widget -->
								<div class="widget rate">
									
									<!-- Heading -->
									<h5 class="widget-header text-center">Skills taught by Mentor</h5>
										<div class="chip">
											Java
										  </div>
										  <div class="chip">
											Angular
										  </div>
										  <div class="chip">
											SQL
										  </div>
										  <div class="chip">
											Phyton
										  </div>
										  <div class="chip">
											ReactJS
										  </div>
									<!-- Rate -->
									<div class="starrr"></div>
								</div>
								<!-- Safety tips widget -->
								<div class="widget disclaimer">
									<div class="" *ngFor ="let i of list">
										<h5 class="widget-header text-center">Other Mentor Searched
											<br>
											By Other Users</h5>
										<!-- product card -->
			<div class="product-item bg-light">
				<div class="card">
					<div class="thumb-content">
						<!-- <div class="price">$200</div> -->
						<a href="single.html">
							<img class="card-img-top img-fluid" src="assets/images/team/team3.jpg" alt="Card image cap">
						</a>
					</div>
					<div class="card-body">
						<h4 class="card-title"><a  routerLink = "/list-page">Mr Ravi Kumar</a></h4>
						<ul class="list-inline product-meta">
							<li class="list-inline-item">
								<a href="single.html"><i class="fa fa-folder-open-o"></i>AI/ML</a>
							</li>
							<li class="list-inline-item">
								<a href="#"><i class="fa fa-calendar"></i>27th January</a>
							</li>
						</ul>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!</p>
						<div class="product-ratings">
							<ul class="list-inline">
								<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
								<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
								<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
								<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
								<li class="list-inline-item"><i class="fa fa-star"></i></li>
							</ul>
						</div>
						<ul class="list-inline mt-30">
						   <li class="list-inline-item"><a class="btn btn-secondary" href="category.html">Connect Now</a></li>
						  </ul>
							 
							
						 
					</div>
				</div>
			</div>
			
			
			
									</div>
								</div>
								<!-- Coupon Widget -->
							
			
							</div>
						</div>
						
					</div>
					

				
					<!-- product slider -->
					
					<!-- product slider -->

					
				</div>
			</div>
			<div class="col-md-8">
				<div class="">
					
				</div>
				
			</div>

		</div>
	</div>
	<!-- Container End -->
</section>