

  <!--===============================
  =            Hero Area            =
  ================================-->
  
  
  <section class="hero-area bg-1 text-center overly">
    <!-- Container Start -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Header Contetnt -->
          <div class="content-block">
            <h1>JOIN INDIA'S ONLINE LEARNING PLATFORM</h1>
            <p>Enroll in courses and watch lessons from India's best educators</p>
            <div class="short-popular-category-list text-center">
              <h2>Popular Category</h2>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="category.html"><i class=""></i> Goverment Coaching</a></li>
                <li class="list-inline-item">
                  <a href="category.html"><i class=""></i> Agriculture</a>
                </li>
                <li class="list-inline-item">
                  <a href="category.html"><i class=""></i> Aeronautical</a>
                </li>
                <li class="list-inline-item">
                  <a href="category.html"><i class=""></i>Information Technology</a>
                </li>
                <li class="list-inline-item">
                  <a href="category.html"><i class=""></i> Cafe</a>
                </li>
              </ul>
            </div>
            
          </div>
          <!-- Advance Search -->
          <div class="advance-search">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-12 col-md-12 align-content-center">
                      <form>
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <input type="text" class="form-control my-2 my-lg-1" id="inputtext4" placeholder="What are you looking for">
                          </div>
                          <div class="form-group col-md-3">
                            <select class="w-100 form-control mt-lg-1 mt-md-2">
                              <option >Category</option >
                              <option *ngFor="let job of jobList">{{job.name}}</option>
                              
                            </select>
                          </div>
                          <div class="form-group col-md-3">
                            <input type="text" class="form-control my-2 my-lg-1" id="inputLocation4" placeholder="Location">
                          </div>
                          <div class="form-group col-md-2 align-self-center">
                            <button type="submit" class="btn btn-main-search" (click)="onClick()">Search Now</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- Container End -->
  </section>
  <section class="divider">

  </section>
  
  <!--===================================
  =            Client Slider            =
  ====================================-->
  
  
  <!--===========================================
  =            Popular deals section            =
  ============================================-->
  
 
  
  <!--============================
  =            Footer            =
  =============================-->
  
  
  
  <!-- JAVASCRIPTS -->
  <section class="popular-deals section bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>Trending Courses</h2>
          </div>
        </div>
      </div>
      
      <div class="row">
        <!-- offer 01 -->
        <div class="col-lg-12">
          <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
              <div class="card">
                <!-- App promotion -->
                <div class="block-2 app-promotion">
                  <div class="mobile d-flex">
                    
                    <p>Get the uConnect Mobile App and Save more</p>
                  </div>
                  <div class="row">
                    
                  </div>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!</p>
                  <div class="download-btn d-flex my-3">
                    <a href="#"><img src="images/Kruse_CNDLS_Profile.png" class="img-fluid" alt=""></a>
                    <a href="#" class=" ml-3"><img src="images/apps/apple-app-store.png" class="img-fluid" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
        </ngx-slick>
     
        </div>
        
        
      </div>

     
    </div>

  </section>
  <section class="popular-deals section bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>Top Services</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- offer 01 -->
        <div class="col-lg-12">
          <ngx-slick class="carousel" #slickModal="slick-modal" [config]="sliderCon" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
              <div class="card">
                <!-- App promotion -->
                <div class="block-2 app-promotion">
                  <div class="mobile d-flex">
                    <a href="">
                      <!-- Icon -->
                      <img src="assets/images/footer/phone-icon.png" alt="mobile-icon">
                    </a>
                    <p>Get the uConnect Mobile App and Save more</p>
                  </div>
    
                  <div class="download-btn d-flex my-3">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, aliquam!</p>
                    <a href="#"><img src="images/apps/google-play-store.png" class="img-fluid" alt=""></a>
                    <a href="#" class=" ml-3"><img src="images/apps/apple-app-store.png" class="img-fluid" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
        </ngx-slick>
     
        </div>
        
        
      </div>
      
      
     
     
    </div>

  </section>

 