

  <!--===============================
  =            Hero Area            =
  ================================-->
  
  
  <section class="hero-area home-image text-center overly ">
    <!-- Container Start -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Header Contetnt -->
          <div class="content-block">
            <h1>JOIN INDIA'S ONLINE LEARNING PLATFORM</h1>
            <p>Enroll in courses and watch lessons from India's best educators</p>
          
            
          </div>
          <!-- Advance Search -->
          <div class="advance-search">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-12 col-md-12 align-content-center">
                      <form>
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <input type="text" class="form-control my-2 my-lg-1" id="inputtext4" placeholder="What are you looking for">
                          </div>
                          <div class="form-group col-md-3">
                            <select class="w-100 form-control mt-lg-1 mt-md-2">
                              <option >Category</option >
                              <option *ngFor="let job of jobList">{{job.name}}</option>
                              
                            </select>
                          </div>
                          <div class="form-group col-md-3">
                            <input type="text" class="form-control my-2 my-lg-1" id="inputLocation4" placeholder="Location">
                          </div>
                          <div class="form-group col-md-2 align-self-center">
                            <button type="submit" class="btn btn-main-search" (click)="onClick()">Search Now</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <div class="widget bg-secondry-color">
    <h1 class="text-center mt-50">CATEGORY</h1>
    <div class="row">
      <!-- offer 01 -->
      <div class="col-lg-12">
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
          <div ngxSlickItem *ngFor="let slide of jobList" class="slide">
            <div class="home" >
              <div class="category-block">
                <div class="header">
                  <i class="{{slide.css}}"></i> 
                  <h4>{{slide.name}}</h4>
                </div>
                <!-- <ul class="category-list" >
                  <li *ngFor="let link of services.jobs"><a (click)="getlink(services.link)" >{{link}}<span>93</span></a></li>
                </ul> -->
              </div>
              
            </div>
            
          </div>
      </ngx-slick>
   
      </div>
      
      
    </div>
  </div>
  

 
   <section class="">
     <div class="container">
      <div class="row">
        <div class="col-lg-6 text-right">
          <div class="home-img-text">
            <h1 class="text-right">Find Guru</h1>
            <p>Get 24X7 Online assistance from countries most experience professionals</p>
            <div class="row">
              <div class="col-lg-12 text-right">
                <img src="https://cdn1.byjus.com/home/video-1.jpg" class="home_img_thumbnail">
                <img src="https://cdn1.byjus.com/home/video-2.jpg">
              </div>
            </div>
            <ul class="list-inline mt-30 text-right">
              <li class="list-inline-item "><a class="btn btn-secondary" href="category.html">Connect Now</a></li>
             </ul>
          </div>
          
        </div>
        <div class="col-lg-6">
         
             <img src="assets/images/undraw_youtube_tutorial_2gn3.svg" class=" home_img" alt="" >
           
       </div>
       </div>
     </div>

     <section class="bg-secondry-color">
      <div class="container">
       <div class="row">
         
         <div class="col-lg-6">
          
              <img src="assets/images/undraw_teaching_f1cm.svg" class=" home_img" alt="" >
            
        </div>
        <div class="col-lg-6 text-left">
          <div class="home-img-text">
            <h1 class="text-left">Online Training & Courses</h1>
            <p>Choose any courses from more than 1000 courses approved by UGC</p>
            <div class="row">
              <div class="col-lg-12 text-left">
                <img src="https://cdn1.byjus.com/home/video-1.jpg" class="home_img_thumbnail">
                <img src="https://cdn1.byjus.com/home/video-2.jpg">
              </div>
            </div>
            <ul class="list-inline mt-30 text-left">
              <li class="list-inline-item "><a class="btn btn-secondary" href="category.html">Start Applying</a></li>
             </ul>
          </div>
          
        </div>
        </div>
      </div>
     
    
   </section>
   <section class="">
    <div class="container">
     <div class="row">
       <div class="col-lg-6 text-right">
         <div class="home-img-text">
           <h1 class="text-right">Workshops & Events</h1>
           <p>Book Workshops and Events which inspire you to achieve your goals</p>
           <!-- <div class="row">
             <div class="col-lg-12 text-right">
               <img src="https://cdn1.byjus.com/home/video-1.jpg" class="home_img_thumbnail">
               <img src="https://cdn1.byjus.com/home/video-2.jpg">
             </div>
           </div> -->
           <ul class="list-inline mt-30 text-right">
             <li class="list-inline-item "><a class="btn btn-secondary" href="category.html">Start Booking</a></li>
            </ul>
         </div>
         
       </div>
       <div class="col-lg-6">
        
            <img src="assets/images/undraw_web_developer_p3e5.svg" class=" home_img" alt="" >
          
      </div>
      </div>
    </div>

    <section class="bg-secondry-color">
     <div class="container">
      <div class="row">
        
        <div class="col-lg-6">
         
             <img src="assets/images/undraw_book_reading_kx9s.svg" class=" home_img" alt="" >
           
       </div>
       <div class="col-lg-6 text-left">
         <div class="home-img-text">
           <h1 class="text-left">E-Books & Research Papers</h1>
           <p>Read Topseller and Famous E-books & Research Papers</p>
           <!-- <div class="row">
             <div class="col-lg-12 text-left">
               <img src="https://cdn1.byjus.com/home/video-1.jpg" class="home_img_thumbnail">
               <img src="https://cdn1.byjus.com/home/video-2.jpg">
             </div>
           </div> -->
           <ul class="list-inline mt-30 text-left">
             <li class="list-inline-item "><a class="btn btn-secondary" href="category.html">Start Exploring</a></li>
            </ul>
         </div>
         
       </div>
       </div>
     </div>
    
   
  </section>
  <section class="">
    <div class="container">
     <div class="row">
       <div class="col-lg-6 text-right">
         <div class="home-img-text">
           <h1 class="text-right">Placement & Interships</h1>
           <p>Find Best Jobs with us</p>
           <!-- <div class="row">
             <div class="col-lg-12 text-right">
               <img src="https://cdn1.byjus.com/home/video-1.jpg" class="home_img_thumbnail">
               <img src="https://cdn1.byjus.com/home/video-2.jpg">
             </div>
           </div> -->
           <ul class="list-inline mt-30 text-right">
             <li class="list-inline-item "><a class="btn btn-secondary" href="category.html">Find Your Job</a></li>
            </ul>
         </div>
         
       </div>
       <div class="col-lg-6">
        
            <img src="assets/images/undraw_feeling_proud_qne1.svg" class=" home_img" alt="" >
          
      </div>
      </div>
    </div>



