<section>

<div class="widget">
    <section class="section ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center mx-auto">
                    <div class="404-img">
                        <img src="images/404/404.png" class="img-fluid" alt="">
                    </div>
                    <div class="404-content">
                        <h1>Thank you</h1>
                        <p class="px-3 pb-2 text-dark">Your Slot has been booked on Feb 2nd, 2020</p>
                        <a class="btn btn-info" routerLink = "/user-dashboard">Go To Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</section>
<section class="py-3" id="suggested-items">
    <div class="container">
        <div class="p-3 mb-2 bg-dark text-white">You May Also Like</div>
        <div class="row">
            <div class="col col-md-3 d-flex mb-2">
                <div class="card">
                    <img class="card-img-top img-fluid border-bottom" src="img/item-1.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ladies Sandal</h5>
                        <p class="card-text">Exhibit a great fashion sense wearing these heels from the house of O.T. Collection.
                        </p>
                        <a href="#" class="btn btn-success">$23.99</a>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 d-flex mb-2">
                <div class="card">
                    <img class="card-img-top img-fluid border-bottom" src="img/item-2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gents Shoes</h5>
                        <p class="card-text">Make the rest look at you in admiration as you make your way by wearing these van sneakers
                            from ASB.</p>
                        <a href="#" class="btn btn-success">$45.50</a>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 d-flex mb-2">
                <div class="card">
                    <img class="card-img-top img-fluid border-bottom" src="img/item-3.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ladies Sandal</h5>
                        <p class="card-text">Exhibit a great fashion sense wearing these heels from the house of O.T. Collection.
                        </p>
                        <a href="#" class="btn btn-success">$53.99</a>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 d-flex mb-2">
                <div class="card">
                    <img class="card-img-top img-fluid border-bottom" src="img/item-4.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gents Shoes</h5>
                        <p class="card-text">Make the rest look at you in admiration as you make your way by wearing these van sneakers
                            from ASB.</p>
                        <a href="#" class="btn btn-success">$95.50</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<a href="#" class="btn btn-primary scrollUp">
    <i class="fa fa-arrow-circle-o-up"></i>
</a>

