
<div class="widget">
    <div class="row">
        <!-- offer 01 -->
        <div class="col-lg-12">
            
          <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" >
            <div ngxSlickItem *ngFor="let slide of slides; let index= index" class="slide">
              <a class="">
                <div class="{{getCss(index)}}">
                    
                  <!-- App promotion -->
                  <div class="row text-center">
                      <div class="col-lg-12">
                          <div class="date-choose">
                              <a> <h3>Sat, 01 Feb</h3>  </a>
                           
                            <div class="slot">
                                3* Slots Available
                            </div>
                          </div>
                          
                      </div>
                  </div>
                </div>
              </a>
              
            </div>
        </ngx-slick>
     
        </div>
        
        
      </div>
</div>
<div class="widget">
        <div class="row">
            <!-- offer 01 -->
            <div class="col-lg-12">
                <div class="row ">
                    <div class="col-md-12">
                        <span>
                            <h3 class="tab-title">Choose Slot</h3>
                        </span>
                        
                        
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-2 text-center">
                        <h6>Timings</h6>
                    </div>
                    <div class="col-lg-8 text-center">
                        <h6>Service Available</h6>
                    </div>
                    <div class="col-lg-2 text-center">
                        <h6>Booked Slot</h6>
                    </div>
                </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card ">
                    <div class="slot">
                        <div class="row ">
                            
                            <div class="col-lg-2 text-left">
                                   <h6> 08:00AM - 09:00AM</h6>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <div class="slot-icon">
                                        <div class="row ">
                                            <div class="col-lg-1 text-left">
                                                <input type="radio">
                                            </div> 
                                            <div class="col-lg-1 text-left">
                                                <i class="material-icons">message</i>
                                            </div>
                                            <div class="col-lg-8 text-left">
                                                <h6>Message</h6>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                  
                                 </div>
                                 <div class="col-lg-3 text-left">
                                    <div class="slot-icon">
                                        <div class="row ">
                                            <div class="col-lg-1 text-left">
                                                <input type="radio">
                                            </div> 
                                            <div class="col-lg-1 text-left">
                                                <i class="material-icons">phone</i>
                                            </div>
                                            <div class="col-lg-8 text-left">
                                                <h6>Call</h6>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                  
                                 </div>
                                 <div class="col-lg-3 text-left">
                                     <div class="slot-icon">
                                        <div class="row ">
                                            <div class="col-lg-1 text-left">
                                                <input type="radio">
                                            </div> 
                                            <div class="col-lg-1 text-left">
                                                <i class="material-icons">video_call</i>
                                            </div>
                                            <div class="col-lg-8 text-left">
                                                <h6>Video</h6>
                                            </div>
                                            
                                        </div>
                                     </div>
                                    
                                  
                                 </div>
                                 
    
                                
                            <div class="col-lg-1 text-center">
                                <div class="slot-icon">
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1"></label>
                                              </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                               
                                
                            </div>
                    </div>
                    </div>
                  
                        
                    
                    
                </div>
            </div>
        </div>
        <div class="row  mt-10">
            <div class="col-lg-12">
                <div class="card ">
                    <div class="slot">
                        <div class="row ">
                            
                            <div class="col-lg-2 text-left">
                                   <h6> 08:00AM - 09:00AM</h6>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <div class="slot-icon">
                                        <div class="row ">
                                            <div class="col-lg-1 text-left">
                                                <input type="radio">
                                            </div> 
                                            <div class="col-lg-1 text-left">
                                                <i class="material-icons">message</i>
                                            </div>
                                            <div class="col-lg-8 text-left">
                                                <h6>Message</h6>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                  
                                 </div>
                                 <div class="col-lg-3 text-left">
                                    <div class="slot-icon">
                                        <div class="row ">
                                            <div class="col-lg-1 text-left">
                                                <input type="radio">
                                            </div> 
                                            <div class="col-lg-1 text-left">
                                                <i class="material-icons">phone</i>
                                            </div>
                                            <div class="col-lg-8 text-left">
                                                <h6>Call</h6>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                  
                                 </div>
                                 <div class="col-lg-3 text-left">
                                     <div class="slot-icon">
                                        <div class="row ">
                                            <div class="col-lg-1 text-left">
                                                <input type="radio">
                                            </div> 
                                            <div class="col-lg-1 text-left">
                                                <i class="material-icons">video_call</i>
                                            </div>
                                            <div class="col-lg-8 text-left">
                                                <h6>Video</h6>
                                            </div>
                                            
                                        </div>
                                     </div>
                                    
                                  
                                 </div>
                                 
    
                                
                            <div class="col-lg-1 text-center">
                                <div class="slot-icon">
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1"></label>
                                              </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                               
                                
                            </div>
                    </div>
                    </div>
                  
                        
                    
                    
                </div>
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-lg-12">
                <div class="card ">
                    <div class="slot">
                        <div class="row ">
                            
                            <div class="col-lg-2 text-left">
                                   <h6> 08:00AM - 09:00AM</h6>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <div class="slot-icon">
                                        <div class="row ">
                                            <div class="col-lg-1 text-left">
                                                <input type="radio">
                                            </div> 
                                            <div class="col-lg-1 text-left">
                                                <i class="material-icons">message</i>
                                            </div>
                                            <div class="col-lg-8 text-left">
                                                <h6>Message</h6>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                  
                                 </div>
                                 <div class="col-lg-3 text-left">
                                    <div class="slot-icon">
                                        <div class="row ">
                                            <div class="col-lg-1 text-left">
                                                <input type="radio">
                                            </div> 
                                            <div class="col-lg-1 text-left">
                                                <i class="material-icons">phone</i>
                                            </div>
                                            <div class="col-lg-8 text-left">
                                                <h6>Call</h6>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                  
                                 </div>
                                 <div class="col-lg-3 text-left">
                                     <div class="slot-icon">
                                        <div class="row ">
                                            <div class="col-lg-1 text-left">
                                                <input type="radio">
                                            </div> 
                                            <div class="col-lg-1 text-left">
                                                <i class="material-icons">video_call</i>
                                            </div>
                                            <div class="col-lg-8 text-left">
                                                <h6>Video</h6>
                                            </div>
                                            
                                        </div>
                                     </div>
                                    
                                  
                                 </div>
                                 
    
                                
                            <div class="col-lg-1 text-center">
                                <div class="slot-icon">
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1"></label>
                                              </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                               
                                
                            </div>
                    </div>
                    </div>
                  
                        
                    
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card ">
                    <div class="slot">
                        <div class="row ">
                            
                            <div class="col-lg-2 text-left">
                                   <h6> 08:00AM - 09:00AM</h6>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <div class="slot-icon">
                                        <div class="row ">
                                            <div class="col-lg-1 text-left">
                                                <input type="radio">
                                            </div> 
                                            <div class="col-lg-1 text-left">
                                                <i class="material-icons">message</i>
                                            </div>
                                            <div class="col-lg-8 text-left">
                                                <h6>Message</h6>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                  
                                 </div>
                                 <div class="col-lg-3 text-left">
                                    <div class="slot-icon">
                                        <div class="row ">
                                            <div class="col-lg-1 text-left">
                                                <input type="radio">
                                            </div> 
                                            <div class="col-lg-1 text-left">
                                                <i class="material-icons">phone</i>
                                            </div>
                                            <div class="col-lg-8 text-left">
                                                <h6>Call</h6>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                  
                                 </div>
                                 <div class="col-lg-3 text-left">
                                     <div class="slot-icon">
                                        <div class="row ">
                                            <div class="col-lg-1 text-left">
                                                <input type="radio">
                                            </div> 
                                            <div class="col-lg-1 text-left">
                                                <i class="material-icons">video_call</i>
                                            </div>
                                            <div class="col-lg-8 text-left">
                                                <h6>Video</h6>
                                            </div>
                                            
                                        </div>
                                     </div>
                                    
                                  
                                 </div>
                                 
    
                                
                            <div class="col-lg-1 text-center">
                                <div class="slot-icon">
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1"></label>
                                              </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                               
                                
                            </div>
                    </div>
                    </div>
                  
                        
                    
                    
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="list-container">
        <div class="row">
            <div class="col-lg-12 text-right">
                <button type="submit" class="btn btn-main-search" (click)="naviagte()">Book</button>
              </div>
        </div>
    
    </div>
</div>




