
    <section>
        <div class="widget">

            <div class="loader"></div>
    
            <main id="main" role="main">
              
                <section id="checkout-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 order-md-2 mb-4">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-muted">Your cart</span>
                                    <span class="badge badge-secondary badge-pill">3</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    <li class="list-group-item  ">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <h6 class="">John Deck</h6>
                                              
                                            </div>
                                            <div class="col-lg-2 text-center">
                                               
                                                    <i class="material-icons">video_call</i>
                                               
                                            </div>
                                            <div class="col-lg-5 text-right">
                                               
                                                <span class="text-muted">₹700/HR</span>
                                           
                                        </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <small class="text-muted">Feb 02, 2020</small>
                                              
                                            </div>
                                            <div class="col-lg-2 text-center">
                                               
                                                <small class="text-muted">Video</small>
                                               
                                            </div>
                                            <div class="col-lg-5 text-right">
                                               
                                                <small class="text-muted">08:00AM-09:00AM</small>
                                           
                                        </div>
                                            
                                        </div>
                                        
                               
                                       
                                       
                                    </li>
                               
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <div class="text-success">
                                            <h6 class="my-0">Promo code</h6>
                                            <small>EXAMPLECODE</small>
                                        </div>
                                        <span class="text-success">-₹100</span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        <span>Total (INR)</span>
                                        <strong>₹600</strong>
                                    </li>
                                </ul>
                                <form class="card p-2">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Promo code">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-secondary">Redeem</button>
                                        </div>
                                    </div>
                                </form>
                                
                            </div>
                            <div class="col-md-8 order-md-1">
                                <form class="needs-validation" novalidate>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <h4 class="">Payment</h4>
                                        </div>
                                        <div class="col-lg-8">
                                            <h4 class="">Card Details</h4>
                                        </div>
                                    </div>
        
                                   
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="custom-control custom-radio">
                                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                                <label class="custom-control-label" for="credit">Credit card</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                                <label class="custom-control-label" for="debit">Debit card</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                                                <label class="custom-control-label" for="paypal">Paypal</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                           
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="cc-name">Name on card</label>
                                                    <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                                    <small class="text-muted">Full name as displayed on card</small>
                                                    <div class="invalid-feedback">
                                                        Name on card is required
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="cc-number">Credit card number</label>
                                                    <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                                    <div class="invalid-feedback">
                                                        Credit card number is required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 mb-3">
                                                    <label for="cc-expiration">Expiration</label>
                                                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                                    <div class="invalid-feedback">
                                                        Expiration date required
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label for="cc-expiration">CVV</label>
                                                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                                    <div class="invalid-feedback">
                                                        Security code required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-block my-3">
                                       
                                    </div>
                                    
                                    <hr class="mb-4">
                                    <button class="btn btn-primary btn-lg btn-block" (click)="submit()">
                                        <i class="fa fa-credit-card"></i> Continue to checkout</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                
            </main>
        </div>
    </section>
    
    <!-- Footer -->


