<section class=" section">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section title -->
				<div class="section-title">
					<h2>All Services</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!</p>
				</div>
				<div class="row">
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6" *ngFor= "let i of list">
						<div class="category-block">
							<div class="header">
								<i class="fa fa-laptop icon-bg-1"></i> 
								<h4>INFORMATION TECHNLOGY</h4>
							</div>
							<ul class="category-list" >
								<li><a routerLink="/listing" routerLinkActive="active">AI/ML <span>93</span></a></li>
								<li><a routerLink="/listing" routerLinkActive="active">JAVA <span>233</span></a></li>
								<li><a routerLink="/listing" routerLinkActive="active">ANGULAR  <span>183</span></a></li>
								<li><a routerLink="/listing" routerLinkActive="active">REACTJS <span>343</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					
					
					
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>